<% if @property.errors.any? %>
  <h1>ERRROROROROR</h1>
  <% @property.errors.full_messages.each do |message| %>
    <h2><%= message %></h2>
  <% end %>
<% end %>

<%= form_with(model: @property, local: true,builder: LabeledFormBuilder, html: { class: "property-form" }) do |form| %>
  <%= form.text_field :title, label:"Title" ,class: "form-control" %>
  <%= form.text_field :address, class: "form-control" %>
  <%= form.number_field :price, class: "form-control" %>

  <div class="form-group">
    <%= form.label :tags, "Select Tags", class: "form-label" %>
    <div class="tags-container">
      <% Tag.all.each do |tag| %>
        <label class="tag-label">
          <%= check_box_tag "property[tag_ids][]", tag.id, @property.tag_ids.include?(tag.id), class: "tag-checkbox" %>
          <span class="tag-name"><%= tag.name %></span>
        </label>
      <% end %>
    </div>
  </div>
  

  <div class="form-group">
    <%= form.label :agent_id, "Agent", class: "form-label" %>
    <%= form.collection_select :agent_id, User.where(role: "agent"), :id, :name, { prompt: "Select Agent" }, { class: "form-control" } %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="form-actions">
    <%= form.submit "Save Property", class: "btn btn-primary" %>
  </div>
<% end %>




