<h2>All Properties</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.title %></td>
        <td><%= property.address %></td>
        <td><%= number_to_currency(property.price,unit: "Rs ", precision: 0) %></td>
        <td>
          <%= link_to 'Show', property_path(property),class: "btn action-btn" %> |
          <%= link_to 'Edit', edit_property_path(property), class: "btn action-btn" %> |
          <%= link_to 'Delete', property_path(property), method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete}, class: "btn action-btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Property', new_property_path %>
